@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'AvenirNext';
  src: url('./assets/font/AvenirNextLTPro-Regular.otf');
}

body {
  font-family: 'AvenirNext', serif;
}

  
.logo{
  font-family: 'Montserrat', sans-serif;;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
